@charset "utf-8";

/*mainimg
---------------------------------------------------------------------------*/
/*画像ブロック*/
.mainimg {
	clear: left;width: 100%;margin: 0 auto;position: relative;
	animation: animationZoom1 20s ease-in-out forwards;
}

