@charset "utf-8";

/*mainimg
---------------------------------------------------------------------------*/
/*画像ブロック*/
.mainimg {
	clear: left;width: 100%;margin: 0 auto;position: relative;
	animation: animationZoom1 10s ease-in-out forwards;
}
/* ３枚画像の共通設定 */
.slide1, .slide2, .slide3 {
    width: 100%;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    top: 0;
    animation-fill-mode: both;
    animation-delay: 1s;
    transition: transform 1s ease-in-out; /* 追加 */
}
/*土台画像*/
.slide0 {
	position: relative;width: 100%;height: auto;
}
/*１枚目*/
.slide1 {
	animation-name: slide1;	/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*２枚目*/
.slide2 {
	animation-name: slide2;	/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*３枚目*/
.slide3 {
	animation-name: slide3;	/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*スライドショー画像上の波型の飾り画像*/
.kazari {
	position: absolute;left:0px;bottom:0px;	
}
